# Django
SECRET_KEY=change-me-in-real-env
DEBUG=True

# Database 
DB_NAME=artikate
DB_USER=artikate
DB_PASSWORD=artikate
DB_HOST=localhost
DB_PORT=5432

# Redis / Celery 
CELERY_BROKER_URL=redis://localhost:6379/0